{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
  <title>{% block title %}Adminator{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="app">
  <!-- @TOC -->
  <!-- =================================================== -->
  <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->
  <!-- @Page Loader -->
  <!-- =================================================== -->
  {% block loader %}
  <!-- <div id='loader'>
      <div class="spinner"></div>
    </div>
    <script src="{% static 'js/load.js' %}"></script> -->
  {% endblock loader %}
  <!-- @App Content -->
  <!-- =================================================== -->
  <div>
    {% include "includes/sidebar.html" %}
    <!-- #Main ============================ -->
    <div class="page-container">
      <!-- ### $Topbar ### -->
      {% include "includes/topbar.html" %}
      <!-- ### $App Screen Content ### -->
      <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
          {% block content %}
          <div class="full-container">
          </div>
          {% endblock content %}
        </div>
      </main>
      {% include "includes/footer.html" %}
    </div>
  </div>
  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/bundle.js' %}"></script>
</body>

</html>