{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
  <title>Google Maps</title>
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="app">
  <!-- @TOC -->
  <!-- =================================================== -->
  <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->
  <!-- @Page Loader -->
  <!-- =================================================== -->
  <div id='loader'>
    <div class="spinner"></div>
  </div>
  <script src="{% static 'js/load.js' %}"></script>
  <!-- @App Content -->
  <!-- =================================================== -->
  <div>
    {% include "includes/sidebar.html" %}
    <!-- #Main ============================ -->
    <div class="page-container">
      <!-- ### $Topbar ### -->
      {% include "includes/topbar.html" %}
      <!-- ### $App Screen Content ### -->
      <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
          <div class="container-fluid">
            <h4 class="c-grey-900 mT-10 mB-30">Google Maps</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                  <h6 class="c-grey-900 mB-20">Google Maps</h6>
                  <div id="google-map" style="padding-bottom: 75%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      {% include "includes/footer.html" %}
    </div>
  </div>
  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/bundle.js' %}"></script>
</body>

</html>